{% extends 'base.html' %}


{% block title %}Cafe and Wifi{% endblock %}


{% block content %}




    <section id="coffee-shops" class="coffee-shops">

        <img src="static/cafe.png" class="img-fluid" alt="cafe shop">


        <div class="container px-4 py-5" id="featured-3">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">

        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary p-3 mb-2 bg-light bg-gradient text-dark">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="black" class="bi bi-laptop" viewBox="0 0 16 16">
  <path d="M13.5 3a.5.5 0 0 1 .5.5V11H2V3.5a.5.5 0 0 1 .5-.5zm-11-1A1.5 1.5 0 0 0 1 3.5V12h14V3.5A1.5 1.5 0 0 0 13.5 2zM0 12.5h16a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5"/>
</svg>
        </div>
        <h3 class="fs-2 text-body-emphasis">BE PRODUCTIVE</h3>
        <p>Find venues with reliable Wi-Fi, ample power sockets, and comfy seating areas.</p>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary p-3 mb-2 bg-light bg-gradient text-dark">
             <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="black" class="bi bi-emoji-smile" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
  <path d="M4.285 9.567a.5.5 0 0 1 .683.183A3.5 3.5 0 0 0 8 11.5a3.5 3.5 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5m4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5"/>
</svg>
        </div>
        <h3 class="fs-2 text-body-emphasis">FEEL WELCOME</h3>
        <p>Discover the best times to work, based on community data.</p>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary p-3 mb-2 bg-light bg-gradient text-dark">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="black" class="bi bi-lightbulb" viewBox="0 0 16 16">
  <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13a.5.5 0 0 1 0 1 .5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1 0-1 .5.5 0 0 1 0-1 .5.5 0 0 1-.46-.302l-.761-1.77a2 2 0 0 0-.453-.618A5.98 5.98 0 0 1 2 6m6-5a5 5 0 0 0-3.479 8.592c.263.254.514.564.676.941L5.83 12h4.342l.632-1.467c.162-.377.413-.687.676-.941A5 5 0 0 0 8 1"/>
</svg>
        </div>
        <h3 class="fs-2 text-body-emphasis">STAY INSPIRED</h3>
        <p>Uncover new places with laid-back ambiance, and friendly vibes.</p>

      </div>
    </div>
  </div>

        <hr class="solid">
<section class="row justify-content-center">
<div class="col-md-8">
    <p class="font-large">Our platform is dedicated to connecting individuals with cafes that offer not only a cozy ambiance and delicious coffee but also reliable WiFi for seamless remote work.</p>

</div>
</section>
        <hr class="solid">


        {% for row in all_cafes %}
        <div class="row justify-content-center">
            {% for cafe in row %}

            <div class="col-lg-4 d-flex justify-content-center mt-5 align-items-stretch">
                <div class="card" style="width: 25rem;">
                    <img src="{{ cafe.img_url }}" style="height:400px" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ cafe.name }}</h5>
                        <div class="row">
                            <div class="col-lg-6 mb-3">

                               <h6 class="card-subtitle text-muted mb-1"> {{ cafe.location }} </h6>
                                <a href="{{ cafe.map_url }}" class="card-link"> Google Maps </a>
                                <p class="card-text mt-2">
                                    <i class="fas fa-coffee mr-3" aria-hidden="true"></i> {{ cafe.coffee_price }}
                                    <br>
                                    <i class="fas fa-chair mr-3" aria-hidden="true"></i> {{ cafe.seats}}
                                </p>
                            </div>

                        </div>
                        <p class="card-text items">
                            {% if cafe.has_wifi == 1%}
                            <i class="fas fa-wifi" aria-hidden="true"></i>
                            {% endif %}
                            {% if cafe.has_sockets == 1%}
                            <i class="fas fa-plug" style="width: 1.25rem; text-align:center" aria-hidden="true"></i>
                            {% endif %}
                            {% if cafe.has_toilet == 1%}
                            <i class="fas fa-toilet" aria-hidden="true"></i>
                            {% endif %}
                            {% if cafe.can_take_calls == 1%}
                            <i class="fas fa-phone" aria-hidden="true"></i>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
        {% endfor %}
    </section>
<a href="#">Back to top</a>

{%endblock%}


