<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    {% block styles %}
    <!-- Load Bootstrap-Flask CSS here -->

    {{ bootstrap.load_css() }}
    <!-- Link to the styles.css here to apply styling to all the child templates.-->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,700"
    />
      <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
      integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
      crossorigin="anonymous"
    />

    {% endblock %}


    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="static/wifi.png">
  </head>
  <body>
  {%include 'navbar.html'%}

  <div class="container mt-4">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
      {% for message in messages %}
        {{ message }}
      {% endfor %}

    </div>
    {% endif %}
{% endwith %}

</div>
  {% block content %}{% endblock %}

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script>
    $(document).ready(function() {
    window.setTimeout(function() {
     $(".alert").alert('close');
      }, 2000); // 2 seconds
       });
  </script>
  </body>
</html>

