{% extends 'base.html' %}

{% block title %}Find Cafe{% endblock %}

{% block content %}
<div class="container">
        {% if cafes %}
    <h2>Search Results for: {{ location }}</h2>

    <div class="row">
        {% for cafe in cafes %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{cafe.img_url}}" class="card-img-top" alt="{{cafe.name}}">
                <div class="card-body">
                    <h5 class="card-title">{{cafe.name}}</h5>
                    <p class="card-text">{{cafe.location}}</p>
                    <p class="card-text mt-2">
                        <i class="fas fa-coffee mr-3" aria-hidden="true"></i> {{ cafe.coffee_price }}
                        <br>
                        <i class="fas fa-chair mr-3" aria-hidden="true"></i> {{ cafe.seats}}
                    </p>
                    <a href="{{ cafe.map_url }}"  target="_blank" rel="noopener noreferrer" class="card-link" > Google Maps </a>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
    {%else%}
        <h4>No café found for: {{location}}</h4>
            <a href="{{url_for('home')}}">See all cafes</a>
    {%endif%}
</div>
{% endblock %}